@{
    ViewBag.Title = "Home Page";
}
@if (!User.Identity.IsAuthenticated)
{
    <h1>Welcome</h1>
}
@if (User.IsInRole("admin"))
{
    <h1 style="text-align:center;">Welcome Admin</h1>
}
@if (User.IsInRole("manager"))
{
    <h1 style="text-align:center;">Welcome Manager</h1>
}
@if (User.IsInRole("user"))
{
    <h1 style="text-align:center;">Welcome User</h1>
}